@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    /** 
    * typography
    */

    --ff-inter: "Plus Jakarta Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-inter);
}